//- Copyright (c) 2015 Isode Limited.
//- All rights reserved.
//- See the LICENSE file for more information.

section.page
  h1 Config for 
    span(data-hook='name')
  form(data-hook='config-form')
    fieldset(data-hook='field-container')
    .buttons
      button.btn(data-hook="config-button", type="submit") Save
  span(data-hook='errorMessage')
