//- Copyright (c) 2015 Isode Limited.
//- All rights reserved.
//- See the LICENSE file for more information.

body
  nav(class="navbar navbar-default navbar-static-top")
    div(class="navbar-inner")
      a(href="#", class="brand") restsocket
      ul(class="nav navbar-nav")
        li
          a(href="/") home
        li
          a(href="/about") About
        li
          a(href="/config") Config
  main(data-hook="page-container")
